[user]
	email = dimitri.sabadie@gmail.com
	name = Dimitri Sabadie
	signingkey = 23CDFD7CAFBA2EDC
[alias]
	graph = log --graph --all --pretty=format:\"%C(yellow)%h%Cblue%d %Creset%s %C(green)%cr%Creset (%C(magenta)%an%Creset)\"
	fp = fetch --all --prune
	ll = log --oneline
	ca = commit --amend
	ce = commit --amend --no-edit
[core]
	pager = less -F -X
[commit]
	gpgsign = true
[push]
	default = current
[checkout]
	defaultRemote = origin
[github]
	user = phaazon
[rebase]
	autoSquash = true
[init]
	defaultBranch = master
