[user]
	email = dimitri.sabadie@gmail.com
	name = Dimitri Sabadie
[alias]
	slog = log --graph --all --pretty=format:\"%C(yellow)%h%Cblue%d %Creset%s %C(green)%cr%Creset (%C(magenta)%an%Creset)\"
  fp = fetch --all --prune
[core]
	pager = less -F -X
