snippet cdate "Changelog date annotation" b
> `date +"%b %d, %Y"`
$0
endsnippet

snippet centry "Changelog entry" b
# ${1:Unreleased}

> `date +"%b %d, %Y"`

- ${2:Some changes that have happened…}
$0
endsnippet

snippet daily "Add a daily entry" b
# `date +"%b %d, %Y"`

- ${0:Today, I did this}

endsnippet
