snippet cdate "Changelog date annotation"
> `date +"%b %d, +%Y"`
$0
endsnippet

snippet centry "Changelog entry"
# ${1:Unreleased}

> `date +"%b %d, %Y"`

- ${2:Some changes that have happened…}
$0
endsnippet
