snippet display "Implement the std::fmt::Display trait" b
impl fmt::Display for $1 {
  fn fmt(&self, f: &mut fmt::Formatter) -> Result<(), fmt::Error> {
		match *self {
		  $1::$2 => write!(f, "$3"),
		}
	}
}
endsnippet

snippet from "Implement From for a type" b
impl From<${1:FromType}> for ${2:${VISUAL:IntoType}} {
  fn from(err: $1) -> Self {
    Self::${3:$1}(err)
  }
}
endsnippet
