'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'alt-space': 'vim-mode-plus:move-to-first-character-of-line-and-down'
  't': 'vim-mode-plus:move-down'
  's': 'vim-mode-plus:move-up'
  'c': 'vim-mode-plus:move-left'
  'r': 'vim-mode-plus:move-right'
  'é': 'vim-mode-plus:move-to-next-word'
  'h': 'vim-mode-plus:replace-character'
  'shift-H': 'vim-mode-plus:activate-replace-mode'
  'shift-U': 'vim-mode-plus:redo'
  ':': 'command-palette:toggle'
  'w o': 'pane:split-down-and-copy-active-item'
  'w v': 'pane:split-right-and-copy-active-item'
  'w t': 'window:focus-pane-below'
  'w s': 'window:focus-pane-above'
  'w c': 'window:focus-pane-on-left'
  'w r': 'window:focus-pane-on-right'
  'w q': 'core:close'
  ', n': 'tree-view:toggle'
  ', f': 'fuzzy-finder:toggle-file-finder'
  ', b': 'fuzzy-finder:toggle-buffer-finder'
  ', w': 'easy-motion-redux:words'
  ', W': 'easy-motion-redux:words-select'
  ', l': 'easy-motion-redux:lines'
  ', L': 'easy-motion-redux:lines-select'
  ', c': 'easy-motion-redux:letter'
  ', C': 'easy-motion-redux:letter-select'
  # this is so ugly, but I haven’t found a way to make altgr-space works on archlinux…
  'space': 'vim-mode-plus:move-to-first-character-of-line-and-down'
  'g f': 'open-this:here'
  ', g b': 'git-blame:toggle'

'body':
  # These should ease navigating panes when not in a text buffer :)
  'alt-o': 'pane:split-down-and-copy-active-item'
  'alt-v': 'pane:split-right-and-copy-active-item'
  'alt-t': 'window:focus-pane-below'
  'alt-s': 'window:focus-pane-above'
  'alt-c': 'window:focus-pane-on-left'
  'alt-r': 'window:focus-pane-on-right'
  'alt-q': 'pane:close'
  'alt-g t': 'vim-mode-plus:next-tab'
  'alt-g shift-t': 'vim-mode-plus:previous-tab'
  'ctrl-o': 'advanced-open-file:toggle'
  'ctrl-n': 'unset!'
  'shift-cmd-N': 'platformio-ide-terminal:new'
  'shift-cmd-T': 'platformio-ide-terminal:toggle'

'.platform-darwin atom-workspace':
  'shift-cmd-T': 'unset!'
