// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds clear-defaults=true {
    resize {
        bind "c" { Resize "Increase Left"; }
        bind "t" { Resize "Increase Down"; }
        bind "s" { Resize "Increase Up"; }
        bind "r" { Resize "Increase Right"; }
        bind "C" { Resize "Decrease Left"; }
        bind "T" { Resize "Decrease Down"; }
        bind "S" { Resize "Decrease Up"; }
        bind "R" { Resize "Decrease Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "-" { Resize "Decrease"; }
    }

    pane {
        bind "c" "Left" { MoveFocus "Left"; }
        bind "r" "Right" { MoveFocus "Right"; }
        bind "t" "Down" { MoveFocus "Down"; }
        bind "s" "Up" { MoveFocus "Up"; }
        bind "p" { SwitchFocus; }
        bind "n" { NewPane;  }
        bind "o" { NewPane "Down"; }
        bind "v" { NewPane "Right";  }
        bind "x" { CloseFocus;  }
        bind "f" { ToggleFocusFullscreen; }
        bind "F" { ToggleFloatingPanes; }
        bind "z" { TogglePaneFrames; }
        bind "e" { TogglePaneEmbedOrFloating; }
        bind "," { SwitchToMode "RenamePane"; PaneNameInput 0; }
        bind "m" { SwitchToMode "Move"; }
        bind "R" { SwitchToMode "Resize"; }
    }

    move {
        bind "n" "Tab" { MovePane; }
        bind "p" { MovePaneBackwards; }
        bind "c" { MovePane "Left"; }
        bind "t" { MovePane "Down"; }
        bind "s" { MovePane "Up"; }
        bind "r" { MovePane "Right"; }
    }

    tab {
        bind "$" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "c" { GoToPreviousTab; }
        bind "r" { GoToNextTab; }
        bind "n" { NewTab; }
        bind "x" { CloseTab; }
        bind "S" { ToggleActiveSyncTab; }
        bind "1" { GoToTab 1; }
        bind "2" { GoToTab 2; }
        bind "3" { GoToTab 3; }
        bind "4" { GoToTab 4; }
        bind "5" { GoToTab 5; }
        bind "6" { GoToTab 6; }
        bind "7" { GoToTab 7; }
        bind "8" { GoToTab 8; }
        bind "9" { GoToTab 9; }
        bind "Tab" { ToggleTab; }
    }

    scroll {
        bind "e" { EditScrollback; SwitchToMode "Locked"; }
        bind "S" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "t" "Down" { ScrollDown; }
        bind "s" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
    }

    search {
        bind "Ctrl s" { SwitchToMode "Locked"; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Locked"; }
        bind "t" "Down" { ScrollDown; }
        bind "s" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }

    tmux {
        bind "Ctrl p" { SwitchToMode "Pane"; }
        bind "Ctrl t" { SwitchToMode "Tab"; }
        bind "[" { SwitchToMode "Scroll"; }
        bind "o" { NewPane "Down"; SwitchToMode "Pane"; }
        bind "v" { NewPane "Right"; SwitchToMode "Pane"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Pane"; }
        bind "F" { ToggleFloatingPanes; SwitchToMode "Pane"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Pane"; }
        bind "Space" { NewTab; SwitchToMode "Pane"; }
        bind "," { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "p" { GoToPreviousTab; SwitchToMode "Tab"; }
        bind "n" { GoToNextTab; SwitchToMode "Tab"; }
        bind "c" { MoveFocus "Left"; SwitchToMode "Pane"; }
        bind "r" { MoveFocus "Right"; SwitchToMode "Pane"; }
        bind "t" { MoveFocus "Down"; SwitchToMode "Pane"; }
        bind "s" { MoveFocus "Up"; SwitchToMode "Pane"; }
        bind "m" { SwitchToMode "Move"; }
        bind "R" { SwitchToMode "Resize"; }
        bind "O" { FocusNextPane; }
        bind "d" { Detach; }
        bind "_" { NextSwapLayout; }
        bind "x" { CloseFocus; SwitchToMode "Locked"; }
        bind "w" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };

            SwitchToMode "Locked";
        }
    }

    shared_except "locked" {
        bind "Ctrl g" "Esc" "Enter" { SwitchToMode "Locked"; }
    }

    shared_except "tmux" {
        bind "Ctrl a" { SwitchToMode "Tmux"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
// pane_frames true

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
// auto_layout true

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
    dracula {
        fg 248 248 242
        bg 40 42 54
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        orange 255 184 108
        cyan 139 233 253
        black 0 0 0
        white 255 255 255
    }

    catppuccin-latte {
      bg "#acb0be"
      fg "#acb0be"
      red "#d20f39"
      green "#40a02b"
      blue "#1e66f5"
      yellow "#df8e1d"
      magenta "#ea76cb"
      orange "#fe640b"
      cyan "#04a5e5"
      black "#4c4f69"
      white "#dce0e8"
    }

    catppuccin-frappe {
      bg "#626880"
      fg "#c6d0f5"
      red "#e78284"
      green "#a6d189"
      blue "#8caaee"
      yellow "#e5c890"
      magenta "#f4b8e4"
      orange "#ef9f76"
      cyan "#99d1db"
      black "#292c3c"
      white "#c6d0f5"
    }

    catppuccin-macchiato {
      bg "#5b6078"
      fg "#cad3f5"
      red "#ed8796"
      green "#a6da95"
      blue "#8aadf4"
      yellow "#eed49f"
      magenta "#f5bde6"
      orange "#f5a97f"
      cyan "#91d7e3"
      black "#1e2030"
      white "#cad3f5"
    }

    catppuccin-mocha {
      bg "#585b70"
      fg "#cdd6f4"
      red "#f38ba8"
      green "#a6e3a1"
      blue "#89b4fa"
      yellow "#f9e2af"
      magenta "#f5c2e7"
      orange "#fab387"
      cyan "#89dceb"
      black "#181825"
      white "#cdd6f4"
    }
}

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "catppuccin-macchiato"

// The name of the default layout to load on startup
// Default: "default"
//
//default_layout "compact"
default_layout "compact"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
// mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
// scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"

session_serialization true
