"*":
  "atom-fuzzy-grep":
    preserveLastSearch: true
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
  "atom-package-deps":
    ignored: [
      "ide-rust"
    ]
  core:
    allowPendingPaneItems: false
    audioBeep: false
    closeEmptyWindows: false
    disabledPackages: [
      "tabs"
    ]
    projectHome: "/home/phaazon/dev"
    telemetryConsent: "no"
    titleBar: "hidden"
    uriHandlerRegistration: "always"
  "easy-motion-redux":
    replaceCharacters: "etovxqpdygéèfblzhckisuran"
  editor:
    fontFamily: "JetBrains Mono"
    fontSize: 25
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "19f31b2d-3465-43e7-b84b-aed72ed1b55c"
  "git-blame": {}
  "ide-haskell":
    onCursorMove: "Show Tooltip"
    onSavePrettify: true
    onSavePrettifyFormats:
      "source*cabal": true
    stylishHaskellPath: "ormolu"
  "ide-purescript":
    addPscPackageSources: true
    addSpagoSources: true
    buildCommand: "spago build"
  "linter-ui-default":
    panelHeight: 300
  "status-bar": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".rust.source":
  editor:
    preferredLineLength: 99
